*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    width: 100%;
    overflow: auto;
    scroll-behavior: smooth;
}

body{
    width: 100%;
    /* height: 100%; */
    font-family: 'Roboto', sans-serif;;
}

header{
    background-color: #2B2C28;
    width: 100%;
    max-height:230px;
    transition: all 0.25s ease-in-out;
    padding: 10px;
    position: fixed;
    top: 0;
    left: 0;
    color: #FFFAFB;
    z-index: 1000;
    opacity: 0.9;
}

.shrink{
    padding:0;
}


#scroll-to-up-btn {
    /* display: none; Hidden by default */
    visibility: hidden;
    opacity: 0;
    width: 60px;
    transition: all .5s ease-out;
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background: transparent;
    cursor: pointer; /* Add a mouse pointer on hover */
  }

#scroll-to-up-btn img{
      width: 100%;
}
  

/* Navbar */

nav.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    width: 100%;
    height: 100%;
    padding: 0 40px;
}

nav.navbar .logo{
    margin: 10px;
}

nav.navbar .logo .logo-text{
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 1.5rem;
    border-bottom: 2px solid #FFFAFB;
}

/* nav.navbar .logo .logo-text hr{
    background: #FFFAFB;
    height: 2px;
} */

nav.navbar .links{
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}

nav.navbar .links ul{
    list-style-type: none;
    /* padding: 30px; */
}

nav.navbar .links ul li{
    display: inline-block;
    margin: 0 10px;
}

nav.navbar .links ul li a{
    color: #F0EFF4;
    position: relative;
    display: inline-block;
    text-decoration: none;
    overflow: hidden;
    transition: all 0.3s ease-out;
}

nav.navbar .links ul li a::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #F0EFF4;
    bottom:0;
    left: -100%;
    transition: all 0.3s ease-out;
}

nav.navbar .links ul li a:hover::after{
    left: 0;
}

/* Menu Icon
.menu-icon {
    display: none;
    cursor: pointer;
  }
  
  .bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: #FFFAFB;
    margin: 6px 0;
    transition: 0.4s;
  }
  
  /* Rotate first bar */
  /* .change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px) ;
    transform: rotate(-45deg) translate(-9px, 6px) ; */
  /* } */
  
  /* Fade out the second bar */
  /* .change .bar2 {
    opacity: 0;
  } */
  
  /* Rotate last bar */
  /* .change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px) ;
    transform: rotate(45deg) translate(-8px, -8px) ;
  }

.working{
    transition: display 0.5s ease-out;
    display: block !important;
}  */

.heading {
    font-size: 2.5rem;  
    display: inline-block; 
    color: #339989;
    margin: 20px 0;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
    border-bottom: 3px solid #339989;
}
 
  
main{
    min-height: 300px;
    width: 100%;
}


.hero-section{
    background-color: #131515;
    background-image: url('../images/sunrise.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    /* height: 680px; */
    height: auto;
    position: relative;
    z-index: 2;
}




.hero-section .hero--img{
    display: inline-block;
    width: 50%;
    padding-top: 16vh;
    padding-bottom: 20px;
}

.hero-section .hero--img img{
    border-radius: 50%;
    border: 4px dotted #339989;
    /* width: 250px; */
    width: 50%;
}

.hero-section, .about-section, .formation-section, .skills-section, .contact-section {
    width: 100%;
    text-align: center;
    /* margin: 20px 0; */
    color: #FFFAFB;
    /* z-index: 1000; */
    /* height: 100%; */
    /* border: 1px solid black; */
    /* float: left; */
}

.hero-section .hero--detail{
    /* font-size: 2rem; */
}

.hero--title{
    font-size: 2.5rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    text-transform: capitalize;
    color: #339989;
}

.hero--subtitle{
    width: 70%;
    margin: 0 auto;
    padding: 15px;
    font-size: 2rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}


.about-section{
    /* min-height: 300px; */
    /* background-color: #FFFAFB; */
    background-color: #FFFAFB;
    color: #131515;
}

.formation-section{
    min-height: 300px;
    background-color: #131515;
}

.formation-section .container{
    width: 100%;
}

.formation-section img{
    width: 100%;
    margin: 25px auto;
}

.skills-section{
    min-height: 300px;
    width: 100%;
    background-color: #FFFAFB;
    color: #131515;
}

.skills-lang{
    background-color: #131515;
    color: #FFFAFB;
    padding-bottom:20px ;
}

.skills-section .lang-progressbar{
    border-radius: 15px;
    background-color: #FFFAFB;
    padding: 7px;
    margin: 20px;
    position: relative;
}

.skills-section .lang-progressbar div{
    position: absolute;
    background-color: #339989;
}

.skills-technologies{
    width: 100%;
}

.techs{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
}

.technology{
    width: 20%;
    padding: 20px;
    /* border:1px solid tomato; */
    margin-bottom: 20px;
}

.technology h3.title-tech{
    color: #2B2C28;
    text-transform: capitalize;
}

.technology .title-tech{
    font-size: 1rem;
    padding: 5px;
}

 .technology .icon-tech{
    /* font-size: 1.5rem; */
}

.about-text{
    width: 80%;
    margin: 0 auto;
    padding-bottom: 40px;
    font-size: 1.3rem;
    line-height: 1.45;
    text-align: center;
}

.contact-section{
    min-height: 300px;
    background-color: #FFFAFB;
}

.contact-section .container .content{
    display: block;
    width: 100%;
    height: 100%;
}

.contact-section h2{
    color: #131515;
    font-size: 1.75rem;
}

.contact-mail, .contact-social{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.social-links{
    padding: 20px;
}

.social-links ul{
    list-style-type: none;
}


.social-links ul li{
    display: inline-block;
    margin: 10px;
}

.contact-mail{
    width: 50%;
    height: 150px;
    float: left;
}

.contact-mail .email{
    padding: 15px;
}

.contact-mail .email .email-box{
    border: 2.5px solid #131515;
    color: #131515;
    padding: 25px;
    transition: 0.25s all ease-in-out;
}


.contact-mail .email .email-box:hover{
    border: 2.5px solid #131515;
    color: #131515;
    background-color: #339989;
    padding: 30px 50px;
}

.contact-mail .email .email-box a{
    text-decoration: none;
    font-size: 1.25rem;
    font-weight: 700;
    color: black;
}
.contact-social{
    height: 150px;
    width: 50%;
    float: left;
    margin-bottom: 25px;
}

footer{
    background-color: #2B2C28;
    min-height: 20px;
    text-align: center;
    padding: 20px;
}

footer p{
    color: #FFFAFB;
    font-size: 1.15rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}

footer p a{
    color: #339989;
    text-decoration: none;
    font-size: 1.15rem;
}

.container{
    width: 90vw;
    margin: 0 auto;
}


/* Media Queries */

@media only screen and (max-width: 768px) {
    /* .menu-icon{
        display: inline-block;
    } */

    /* .links{
        display: none;
        margin: 0 !important;
    } */

    .links ul{
        width: 100%;
        text-align: center;
        padding: 10px;
    }

    nav.navbar{
        flex-direction: column;
    }

    .hero-section .hero--img{
        width: 75%;
        padding-top: 22vh;
    }


    .hero--title{
        font-size: 2rem;
    }

    .hero--subtitle{
        width: 80%;
        margin: 0 auto;
        padding: 10px;
        font-size: 1.75rem;
    }

    .technology{
        width: 33%;
        padding: 20px;
        /* border:1px solid tomato; */
        margin-bottom: 20px;
    }

    .contact-mail, .contact-social{
        width: 100%;
        float: none;
    }
}

@media only screen and (max-width: 480px){
    header{
        position: absolute;
    }

    .hero-section .hero--img{
        width: 100%;
        padding-top: 29.5vh;
        width: 90%;

        /* padding-top: 600px; */
    }

    .hero--title{
        font-size: 1.75rem;
    }

    .hero--subtitle{
        width: 90%;
        margin: 0 auto;
        padding: 10px;
        font-size: 1.25rem;
    }

    .about-text{
        font-size: 1rem;
        line-height: 1.2;
    }

    nav.navbar .links ul li{
        display: inline-block;
        margin: 0 5px;
    }

    .technology{
        width: 50%;
    }

    #scroll-to-up-btn {
        width: 45px;
      }

      .lang-title{
          font-size: 1.25rem;
      }

      .contact-mail .email .email-box{
        padding: 10px;
    }
    
    .contact-mail .email .email-box:hover{
        padding: 15px 25px;
    }
    footer{
        padding: 10px;
    }
    
    footer p{
        font-size: 1rem;
    }
    
    footer p a{
        font-size: 1rem;
    }

    
}


@media only screen and (max-width: 360px){
    .hero-section .hero--img{
        width: 100%;
    }

    .technology{
        width: 100%;
    }
    .heading {
        font-size: 2rem;  
    }
    

    #scroll-to-up-btn {
        width: 25px;
      }

      nav.navbar .links ul li{
        display: block;
    }
  
}

